.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  padding: 10px;
  width: 50%;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

.div1 textarea {
  width: 100%;
  min-height: 150px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.div1 textarea:hover {
  border-color: #888;
}

.div1 textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}


.btn,
.btn1 ,.btn3 {
  display: block;
  width: 60%;
  max-width: 300px;
  text-align: center;
  background-color: blue;
  padding: 12px;
  margin: 10px auto;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn1:hover,
.btn3:hover {
  border-radius: 8px;
  background-color: greenyellow;
  color: black;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}


.len {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}


@media (max-width: 768px) {
  .div1 {
    width: 80%;
  }

  .btn,
  .btn1,.btn3 {
    width: 80%;
    font-size: 16px;
  }

  .div1 textarea {
    width: 100%;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .div1 {
    width: 95%;
  }

  .btn,
  .btn1,
  .btn3 {
    width: 90%;
    padding: 10px;
    font-size: 14px;
  }

  .len {
    font-size: 24px;
  }
}
